/* variablefonts 13weight */
@font-face {
	font-family: 'danaVF';
	src: url('./fonts/DanaVF.woff2') format('woff-variations'),
		url('./fonts/DanaVF.woff2') format('woff');
	font-display: fallback;
}

/* staticfonts normal */
@font-face {
	font-family: dana;
	/* font-style: normal;
font-weight: normal; */
	src: url('./fonts/staticfonts/dana-regular.woff2') format('woff2'),
		url('./fonts/staticfonts/dana-regular.woff') format('woff');

}

/* staticfonts bold700 */
@font-face {
	font-family: dana;
	font-weight: 700;
	/* font-style: normal;
font-weight: bold; */
	src: url('./fonts/staticfonts/dana-bold.woff2') format('woff2'),
		url('./fonts/staticfonts/dana-bold.woff') format('woff');

}

body {
	font-family: dana, tahoma;
}

@supports (font-variation-settings: normal) {
	body {
		font-family: 'danaVF', tahoma;
	}
}